@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: rgb(64, 64, 64);
    justify-content: space-between;
    padding: 15px;
}

.header-name{
    display: flex;
    color: white;
    margin-left: 80px;
    font-size: 20px;
    font-weight: bolder;
}

.nav ul{
    display: flex;
    margin-right: 80px;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    color: white;
}

.nav-btn{
    text-decoration: none;
    color: white;
}

.nav-btn:hover{
    color: rgb(248, 55, 55);
}

#about{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: rgb(64, 64, 64);
    color: white;
    margin-bottom: 40px;
}

#contactCall{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.julio-img{
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

.about-title{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.about-subtitle{
    font-weight: 800;
    color: red;
    margin-bottom: 30px;
}

.invite{
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
#portfolio {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    height: 320px;
    padding-bottom: 20px;
    justify-content: center;
}
#titlePortfolio {
    font-size: 40px;
    width: auto;
    background-color: #992a3e;
    color: white;
    text-align: center;
}

#printPixel {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
    width: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: black 5px solid;
    border-radius: 20px;
}
#printEmDev {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
    width: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: black 5px solid;
    border-radius: 20px;
}

.printScreen{
    margin: 10px;
}
#printPixel:hover {
    width: 240px;
}

#printEmDev:hover {
    width: 240px;
}

.social{
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.link{
    font-size: 40px;
    text-decoration: none;
}

.linkedin{
    color: white;
}

.linkedin:hover{
    color: #004a72;
    background-color: white;
    padding: 4px;
    border-radius: 10px;
    font-size: 50px;
}

.facebook{
    color: white;
}

.facebook:hover{
    color: #004a72;
    background-color: white;
    padding: 4px;
    border-radius: 10px;
    font-size: 50px;
}

.instagram{
    color: white;
}

.instagram:hover{
    color: #992a3e;
    background-color: white;
    padding: 4px;
    border-radius: 10px;
    font-size: 50px;
}

.github{
    color: white;
}

.github:hover{
    color: rgb(144, 142, 142);
    background-color: white;
    padding: 4px;
    border-radius: 10px;
    font-size: 50px;
}

.traits{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(193, 193, 193);
}

.traits h1{
    margin-top: 20px;

}

.traits-content{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.qualities ul, .flaws ul{
    list-style: none;
    line-height: 25px;
    margin-bottom: 20px;
}

#footer{
    position: fixed;
    bottom: 0px;
    background-color: #992a3e;
    color: white;
    width: 100%;
    text-align: center;
    height: 40px;
    
}

#footer a{
    text-decoration: none;
    color: white;
    font-size: larger;
    
}

#footer a:hover{
    color: rgb(248, 55, 55);
}

.footer-text{
    margin: 0 auto;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {

.header-name, .nav ul{
    font-size: 15px;
    margin-left: 10px; 
    margin-right: 30px;
  }

.traits{
    margin-bottom: 20px;
    padding: 0px;
}
}

@media only screen and (max-width: 400px) {

    .header-name, .nav ul{
        font-size: 15px;
        margin-left: 5px; 
        margin-right: 30px;
      }
    
    .traits{
        margin-bottom: 50px;
        
    }

    #footer{
        height: 50px;        
    }
    .traits-content{
        gap: 50px;
        justify-content: center;
        margin-bottom: 20px;
    }
}